@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    text-size-adjust: 100%;
}

* {
    @apply text-slate-800;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.image-primary-300 {
    filter: grayscale(100%) invert(73%) sepia(34%) saturate(808%)
        hue-rotate(173deg) brightness(103%) contrast(98%);
}

.image-primary-400 {
    filter: grayscale(100%) invert(64%) sepia(21%) saturate(1495%)
        hue-rotate(159deg) brightness(98%) contrast(99%);
}

.image-primary-500 {
    filter: grayscale(100%) invert(69%) sepia(47%) saturate(5876%)
        hue-rotate(166deg) brightness(93%) contrast(97%);
}
